*{
    padding:0px;
    margin:0px;
}
body{
    background-color: rgb(76, 87, 104);
    font-family: 'PT Sans', sans-serif;
}
h1{
    
    padding: 7px 0px 8px 9px;
    background: rgb(205 206 217 / 24%);
    color: rgb(16 16 16);
}
#bttn{
    display:-webkit-inline-flex;
}
#size{
    margin:0px 0px 0px 30px;
}
#newArray{
   background-color: aliceblue;
}
button{
    background-color: #a5a4a44d;
    border-radius: 12px;
    border-style: unset;
    margin: 19px -6px 17px 18px;
    padding: 15px 10px 16px 10px;
    font-family: 'Red Hat Text', sans-serif;
    font-weight: 600;
    color: snow;
    transition: 0.3s all cubic-bezier(0.46, 0.03, 0.52, 0.96);
}
button:hover{
    background-color: rgb(166, 229, 229);
    color:black;
}

.flex-item{
    margin: 28px 0px 0px 0px;
    background: #009B77;
    border: 1pt solid darkgreen;
    width: 12px;
    transition: 0.1s all ease;
    display: -webkit-inline-box;
}
#sort-graph{
    background-color: rgba(252, 252, 252, 0.352);
    padding: 0px 0px 0px 26px;
    margin: 34px 41px 0px 19px;
    position: relative;
    bottom: 3px;
    width: 80%;
}
